wsdl.xml

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.jaxws.epam.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.jaxws.epam.com/" name="TicketServiceImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.jaxws.epam.com/" schemaLocation="http://localhost:8087/ticket?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://example.com/" schemaLocation="http://localhost:8087/ticket?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="getTicket">
        <part name="arg0" type="xsd:int"/>
    </message>
    <message name="getTicketResponse">
        <part name="return" type="tns:ticket"/>
    </message>
    <message name="DAOException">
        <part xmlns:ns1="http://example.com/" name="fault" element="ns1:DAOExceptionFault"/>
    </message>
    <message name="deleteTicket">
        <part name="arg0" type="xsd:int"/>
    </message>
    <message name="deleteTicketResponse"/>
    <message name="bookTicket">
        <part name="arg0" type="xsd:int"/>
    </message>
    <message name="bookTicketResponse"/>
    <message name="payForTicket">
        <part name="arg0" type="xsd:int"/>
    </message>
    <message name="payForTicketResponse"/>
    <portType name="TicketService">
        <operation name="getTicket">
            <input wsam:Action="http://service.jaxws.epam.com/TicketService/getTicketRequest" message="tns:getTicket"/>
            <output wsam:Action="http://service.jaxws.epam.com/TicketService/getTicketResponse" message="tns:getTicketResponse"/>
            <fault message="tns:DAOException" name="DAOException" wsam:Action="http://service.jaxws.epam.com/TicketService/getTicket/Fault/DAOException"/>
        </operation>
        <operation name="deleteTicket">
            <input wsam:Action="http://service.jaxws.epam.com/TicketService/deleteTicketRequest" message="tns:deleteTicket"/>
            <output wsam:Action="http://service.jaxws.epam.com/TicketService/deleteTicketResponse" message="tns:deleteTicketResponse"/>
            <fault message="tns:DAOException" name="DAOException" wsam:Action="http://service.jaxws.epam.com/TicketService/deleteTicket/Fault/DAOException"/>
        </operation>
        <operation name="bookTicket">
            <input wsam:Action="http://service.jaxws.epam.com/TicketService/bookTicketRequest" message="tns:bookTicket"/>
            <output wsam:Action="http://service.jaxws.epam.com/TicketService/bookTicketResponse" message="tns:bookTicketResponse"/>
            <fault message="tns:DAOException" name="DAOException" wsam:Action="http://service.jaxws.epam.com/TicketService/bookTicket/Fault/DAOException"/>
        </operation>
        <operation name="payForTicket">
            <input wsam:Action="http://service.jaxws.epam.com/TicketService/payForTicketRequest" message="tns:payForTicket"/>
            <output wsam:Action="http://service.jaxws.epam.com/TicketService/payForTicketResponse" message="tns:payForTicketResponse"/>
            <fault message="tns:DAOException" name="DAOException" wsam:Action="http://service.jaxws.epam.com/TicketService/payForTicket/Fault/DAOException"/>
        </operation>
    </portType>
    <binding name="TicketServiceImplPortBinding" type="tns:TicketService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="getTicket">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
            </output>
            <fault name="DAOException">
                <soap:fault name="DAOException" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteTicket">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
            </output>
            <fault name="DAOException">
                <soap:fault name="DAOException" use="literal"/>
            </fault>
        </operation>
        <operation name="bookTicket">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
            </output>
            <fault name="DAOException">
                <soap:fault name="DAOException" use="literal"/>
            </fault>
        </operation>
        <operation name="payForTicket">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
            </output>
            <fault name="DAOException">
                <soap:fault name="DAOException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="TicketServiceImplService">
        <port name="TicketServiceImplPort" binding="tns:TicketServiceImplPortBinding">
            <soap:address location="http://localhost:8087/ticket"/>
        </port>
    </service>
</definitions>