src/main/java/com/epam/jaxws/client/user/user.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.jaxws.epam.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.jaxws.epam.com/" name="UserServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.jaxws.epam.com/" schemaLocation="http://localhost:8087/user?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://example.com/" schemaLocation="http://localhost:8087/user?xsd=2"/>
</xsd:schema>
</types>
<message name="createUser">
<part name="arg0" type="tns:user"/>
</message>
<message name="createUserResponse"/>
<message name="DAOException">
<part xmlns:ns1="http://example.com/" name="fault" element="ns1:DAOExceptionFault"/>
</message>
<message name="changePassword">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="changePasswordResponse"/>
<message name="deleteUser">
<part name="arg0" type="xsd:int"/>
</message>
<message name="deleteUserResponse"/>
<message name="getUser">
<part name="arg0" type="xsd:int"/>
</message>
<message name="getUserResponse">
<part name="return" type="tns:user"/>
</message>
<portType name="UserService">
<operation name="createUser">
<input wsam:Action="http://service.jaxws.epam.com/UserService/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://service.jaxws.epam.com/UserService/createUserResponse" message="tns:createUserResponse"/>
<fault message="tns:DAOException" name="DAOException" wsam:Action="http://service.jaxws.epam.com/UserService/createUser/Fault/DAOException"/>
</operation>
<operation name="changePassword" parameterOrder="arg0 arg1">
<input wsam:Action="http://service.jaxws.epam.com/UserService/changePasswordRequest" message="tns:changePassword"/>
<output wsam:Action="http://service.jaxws.epam.com/UserService/changePasswordResponse" message="tns:changePasswordResponse"/>
<fault message="tns:DAOException" name="DAOException" wsam:Action="http://service.jaxws.epam.com/UserService/changePassword/Fault/DAOException"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://service.jaxws.epam.com/UserService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://service.jaxws.epam.com/UserService/deleteUserResponse" message="tns:deleteUserResponse"/>
<fault message="tns:DAOException" name="DAOException" wsam:Action="http://service.jaxws.epam.com/UserService/deleteUser/Fault/DAOException"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://service.jaxws.epam.com/UserService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://service.jaxws.epam.com/UserService/getUserResponse" message="tns:getUserResponse"/>
<fault message="tns:DAOException" name="DAOException" wsam:Action="http://service.jaxws.epam.com/UserService/getUser/Fault/DAOException"/>
</operation>
</portType>
<binding name="UserServiceImplPortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
</output>
<fault name="DAOException">
<soap:fault name="DAOException" use="literal"/>
</fault>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
</output>
<fault name="DAOException">
<soap:fault name="DAOException" use="literal"/>
</fault>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
</output>
<fault name="DAOException">
<soap:fault name="DAOException" use="literal"/>
</fault>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.jaxws.epam.com/"/>
</output>
<fault name="DAOException">
<soap:fault name="DAOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="UserServiceImplService">
<port name="UserServiceImplPort" binding="tns:UserServiceImplPortBinding">
<soap:address location="http://localhost:8087/user"/>
</port>
</service>
</definitions>